<html>
	<head>
		<!--Bootstrap/CSS Links-->
		<link rel="stylesheet" href="/style.css" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>
		<meta charset="utf-8" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
		/>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Style CSS-->
		<style>
			body {font-family: Georgia, 'Times New Roman', Times, serif;}
			.navbar-nav { justify-content: space-evenly; }
	
			.bordered {
    			width: 40px;
   				height: 50px;
    			padding: 10px;
    			border: 5px inset rgb(230, 152, 37);
  			}

		</style>
	</head>

	<body>
		<!-- NAV Bar-->			
		<nav
			style="border-style: ridge; border-color: orange;"
			class="navbar navbar-expand-lg navbar-light bg-light"
		>
			<div class="container-fluid">
				<a class="navbar-brand" href="/home"><i
						style="color: orange; font-size:4vh"
						class="fas fa-globe"
					></i>MNIVERSE</a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div
					class="collapse navbar-collapse"
					id="navbarSupportedContent"
				>
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a
								class="nav-link active"
								aria-current="page"
								href="/"
							>Home</a>
						</li>

						<li class="nav-item dropdown">
							<a
								class="nav-link dropdown-toggle"
								href="#"
								id="navbarDropdown"
								role="button"
								data-bs-toggle="dropdown"
								aria-expanded="false"
							>
								Category
							</a>
							<ul
								class="dropdown-menu"
								aria-labelledby="navbarDropdown"
							>
								<li><a
										class="dropdown-item"
										href="/categories"
									>View All</a></li>
								<li
									style="text-decoration: underline; text-align: center;"
								><hr class="dropdown-divider" /></li>
								<li><a
										class="dropdown-item"
										href="/categories/1"
									>Electronics</a></li>
								<li><a
										class="dropdown-item"
										href="/categories/2"
									>Jewellery</a></li>
								<li style="text-align: center;"><hr
										class="dropdown-divider"
									/>Clothing</li>
								<li
									style="text-decoration: underline; text-align: center;"
								><hr class="dropdown-divider" /></li>
								<li><a
										class="dropdown-item"
										href="/categories/3"
									>Men's</a></li>
								<li><a
										class="dropdown-item"
										href="/categories/4"
									>Women's</a></li>
							</ul>
							<li class="nav-item">
								<a
									onclick="changeAdminMode()"
									class="nav-link"
									href="#"
								>Admin</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/cart"><i
										style="color: orange; font-size:4vh"
										class="fas fa-shopping-cart"
									></i></a>
							</li>
						</li>
					</ul>
					
				</div>
			</div>
		</nav>
		<!-- Body of Page-->
		<div class="container">
			{{{body}}}
		</div>

		<!-- Footer -->
        <br><br><br>
		<div class="footer-basic">
			<footer>
				<div style="text-align: center; text-shadow: 1px 1px black; color:orange " class="social">
					<a style="color: orange;" href="/home"><i
							style="color: orange; font-size:4vh"
							class="fas fa-globe"
						></i>mniverse</a>
				</div>
				<ul style="text-align: center; text-shadow: 1px 1px black; color:orange" class="list-inline">

					<li class="list-inline-item"><a
							title="Homepage"
							style="color: orange;"
							href="#home"
						>Home</a></li>
					<li class="list-inline-item"><a
							title="Email querys"
							style="color: orange;"
							href="mailto:andi56@hotmail.co.uk"
						>Email</a></li>
					<li class="list-inline-item"><a
							title="Websites Github code"
							style="color: orange;"
							href="https://github.com/Lucas-Uniqodo/Multiverse-Bootcamp-End-Project"
						>Github</a></li>
					<li class="list-inline-item"><a
							title="Help!!"
							style="color: orange;"
							href="https://www.google.com/"
						>Help</a></li>
					<li class="list-inline-item"><a
							style="color: orange;"
							href="https://www.google.com/search?q=cookies&bih=625&biw=1366&rlz=1C1ASVC_enGB948GB949&hl=en&ei=DJD-YLrYCuKh1fAPlae0iAI"
						>Privacy & Cookies</a></li>

				</ul>
				<br /><p style="text-align: center; text-shadow: 1px 1px black; color:orange">
					Omniverse E-commerce Shop © 2021</p>
			</footer>
		</div>
		<!-- Bootstrap/JQuery/Icon Scripts-->
		<script
			src="https://kit.fontawesome.com/cb279bfd62.js"
			crossorigin="anonymous"
		></script>

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
		></script>
	</body>

</html>
<!-- Cart Functions-->
<script>
	let cartList = new Map()
	let adminMode = false


	//Pushes Items to List
	function addToCart(item) {
		quantity = Number(document.getElementById("quantity"+item.id).value)
		if (cartList.has(item.id)) {

			let previousQuantity = cartList.get(item.id).quantity
			let newQuantity = previousQuantity + quantity
			item.quantity = newQuantity

		} else {
			item.quantity = parseInt(quantity)
		}

		cartList.set(item.id, item)
        localStorage.setItem("cartList", JSON.stringify(Array.from(cartList.entries())))
    }

	function deleteFromCart(id) {
		cartList.delete(id)
        localStorage.setItem("cartList", JSON.stringify(Array.from(cartList.entries())))
		displayCart()
	}

  	// Creates/Displays List of Items in Cart
	function displayCart() {
		document.getElementById("cartList").innerHTML = ""
		let itemTotal = 0
		let numberOfItems = 0

		for (let [key, cartItem] of cartList) {
			itemTotal += cartItem.price * cartItem.quantity;
			numberOfItems += cartItem.quantity;
			let listItem = document.createElement("div");
			listItem.innerHTML = `<div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="${cartItem.image}"></div>
                    <div class="col">
                        <div class="row">${cartItem.title}</div>
                    </div>

                    <div class="col">&pound; ${cartItem.price} <br> <span >Quantity: ${cartItem.quantity}</span> <span onclick="deleteFromCart(${cartItem.id});" class="close">&#10005;</span></div> 

                </div>`
			document.getElementById("cartList").appendChild(listItem)
		}

		document.getElementById("numItems").innerText = numberOfItems + " Items";
		document.getElementById("itemTotal").innerText = "£" + itemTotal;

		document.getElementById("totalPrice").innerText = "£" + (itemTotal + parseFloat(document.getElementById("shippingPrice").value));

	}

    // Changes UI to display admin features
	function changeAdminMode() {
		let adminOptions = document.getElementsByClassName("adminOnly")

		if (adminMode == false) {
			Array.from(adminOptions).forEach((button) => {	
				button.style = "visibility: visible;"
			});
		adminMode = true
		} else {
			Array.from(adminOptions).forEach((button) => {	
				button.style = "visibility: hidden;"
		});
		adminMode = false
		}
	}


	// retrieving local storage
	let cartListStorage = new Map(JSON.parse(localStorage.getItem("cartList")));
	console.log(cartListStorage)

	//if local storage is found, updates the corresponding attributes and displays local storage's content
	if(cartListStorage){
		cartList = cartListStorage
		displayCart()
	}
</script>

