
<div class="cartCard"> {{!-- Refers to the whole box--}}
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4 style="text-shadow: 1px 1px black; color:orange"><b>Shopping Cart</b></h4> {{!--Header for card--}}
                    </div>
                    <div class="col align-self-center text-right text-muted" id="numItems"> items</div>
                </div>
            </div>
            <div class="row border-top border-bottom" id="cartList"> {{!--This div is where the items are added and adds dividers for each item--}}
                
                {{!--item divs here--}}

            </div>

            <div class="back-to-shop"><a href="/categories">&leftarrow; <span style="" class="text-muted">Back to shop</span></a></div> {{!--Arrow button at bottom takes you back home--}}
        </div>
        <div class="col-md-4 summary"> {{!--Right box stuff--}}
            <div>
                <h5><b>Summary</b></h5> {{!--Title for right section (for total prices etc)--}}
            </div>
            <hr>
            <div class="row"> {{!--Has CSS that adds dividers--}}
                <div class="col" style="padding-left:0;">ITEMS</div> {{!--Should pull amount of items and displaya amount as well as their prices--}}
                <div class="col text-right" id="itemTotal">&pound; 132.00</div> {{!--Hard-coded prices--}}
            </div>
            <form> {{!--Delivery drop down--}}
                <p>SHIPPING</p> <select id="shippingPrice" onclick="displayCart()"> 
                    <option class="text-muted" value="2.50" >Standard Delivery - &pound;2.50</option>
                    <option class="text-muted" value="5.00" >Next Day Delivery - &pound;5.00</option>
                </select>
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;"> {{!--this div should total the items as well as selected delivery option price--}}
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right" id="totalPrice">&pound; 137.00</div>
            </div> <a href="https://design-system.service.gov.uk/patterns/bank-details/"><button style="background-color: orange;" class="btn">CHECKOUT</button></a>{{!--Just for looks--}}
        </div>
    </div>
</div>


<style> 
/* CSS for the shopping cart card*/

    .title {
    margin-bottom: 5vh
}

.cartCard {
    margin: auto;
    max-width: 950px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent
}

@media(max-width:767px) {
    .cartCard {
        margin: 3vh auto
    }
}

.cart {
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem
}

@media(max-width:767px) {
    .cart {
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem
    }
}

.summary {
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65)
}

@media(max-width:767px) {
    .summary {
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem
    }
}

.summary .col-2 {
    padding: 0
}

.summary .col-10 {
    padding: 0
}

.row {
    margin: 0
}

.title b {
    font-size: 1.5rem
}

.main {
    margin: 0;
    padding: 2vh 0;
    width: 100%
}

.col-2,
.col {
    padding: 0 1vh
}

a {
    padding: 0 1vh
}

.close {
    margin-left: auto;
    font-size: 0.7rem
}

img {
    width: 3.5rem
}

.back-to-shop {
    margin-top: 4.5rem
}

h5 {
    margin-top: 4vh
}

hr {
    margin-top: 1.25rem
}

form {
    padding: 2vh 0
}

select {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247)
}

input {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247)
}

input:focus::-webkit-input-placeholder {
    color: transparent
}

.btn {
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0
}

.btn:focus {
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none
}

.btn:hover {
    color: white
}

a {
    color: black
}

a:hover {
    color: black;
    text-decoration: none
}

#code {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center
}

</style>


