<section>
	<div class="row justify-content-center align-content-center">
		<div class="card" style="margin: 20px; width: 40%">
			<img
				src="{{category.image}}"
				alt="image of {{category.name}}"
			/>
			<div class="card-body">
				<h5 class="card-title">{{store.name}}</h5>
			</div>
		</div>
	</div>